{% extends 'base.html' %}
{% block content %}
{% include "navbar.html" %}

<div class="container">
    <div class="row my-5">
        <div class="col-6">
                <img class="img-thumbnail" src="{{posts.imagecontent.url}}">
           
             <h1>{{posts.title}}</h1> 
           <h2>{{posts.description}}</h2> 
        </div>
        <div class="col-6">
        {% if posts_me_liked.exists %}

        <a href="{% url 'like_post' posts.pk %}"> unlike post</a>

        {% else %}

        <a href="{% url 'like_post' posts.pk %}"> like post </a>

        {% endif %}
        </div>
    </div>
<h2> comments </h2>
<hr>
    <div class="row">
        <div class="col-4">
            {% for comment in comments %}
            <h3>{{ comment.name }}</h3>
            <p>{{ comment.commentor }}</p>
            {% endfor %}
        </div>
        <div class="col-4">
            <form class="form-inline" method ="POST">
            {% csrf_token %}    
            {{form.as_p}}
            <input type="submit" name="create comment">
        </form>
    </div>
</div>
{% endblock %}