<h1> welcome {{user}} to the homepage </h1> 
<br> 
<a href="{% url 'logout' %}"> logout </a>


<p> profiles you may follow </p>

{% for profile in profiles %}

<a href="{% url 'profile_detail' profile.pk %}"> {{ profile.user }} </a>

{% endfor %}

<h2> searching? </h2>
<form type="GET" action=''>
    <input id ="search_box" type="text" name="search_box">
    <button id="search_submit" type="submit">submit</button>
</form>
<h3> create post here </h3>
<form method ="POST" action="/home">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="create post">
</form>

{% for post in posts %}

<h2> {{post.title}} </h2>
<p> {{post.description}}</p>
<a href="{% url 'edit_post' post.pk %}"> edit </a>"
<a href="{% url 'delete_post' post.pk %}"> delete </a>"
<a href="{% url 'detail_post' post.pk %}"> see more post </a>
{% endfor %}