{% extends 'base.html' %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
    <div class="row">
        <div class="col-8 offset-2 my-3">
            <h2> create post </h2>
            <form method ="POST" action="">
                {% csrf_token %}
                {{form}}
                <input type="submit" name="create post">
            </form>
        </div>
    </div>
    {% comment %}
    {% for post in posts %}
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
        {{post.title}}
        {{post.description}}
        <a href="{% url 'edit_post' post.pk %}"> edit </a>"
        <a href="{% url 'delete_post' post.pk %}"> delete </a>"
        <a href="{% url 'detail_post' post.pk %}"> see more post </a>
        </div>
    </div>
    {% endfor %}
    {% endcomment %}
    
    {% comment %}
    <div class="row flex-column align-items-center">
    {% for post in posts %}
        <div class="col-4 my-3">
            <h3>{{ post.title }}</h3>
            <p>{{ post.description }}</p>
            <div class="">
                <a href="{% url 'edit_post' post.pk %}"> edit </a>
                <a href="{% url 'delete_post' post.pk %}"> delete </a>
                <a href="{% url 'detail_post' post.pk %}"> see more post </a>
                </div>
            <hr>
        </div>admin1


    {% endfor %}
    </div>
    {% endcomment %}

    <div class="row">
        <div class="col-8">

            {% for post in posts %}
                <div class="">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.description }}</p>
                    <p> {{post.author}}</p>
                    <div class="">
                        <a href="{% url 'edit_post' post.pk %}"> edit </a>
                        <a href="{% url 'delete_post' post.pk %}"> delete </a>
                        <a href="{% url 'detail_post' post.pk %}"> see more post </a>
                        </div>
                    <hr>
                </div>
            {% endfor %}

        </div>
        <div class='col-4 mainlist'>
            <img class="img-thumbnail" src="{{profile.profilepic.url}}">
            <div class="card" style="width: 12rem;">
                <p> profiles you may follow </p> 
                <ul class="list">      
                {% for profile in profiles %}
                
                    <li><a href="{% url 'profile_detail' profile.pk %}">{{profile.user}}</a></li>
                        {% endfor %}
                  </ul>
                </div>
        </div>
        
    </div>


</div>


{% endblock %}